body{
    background-color: #161b22;
    background-image: linear-gradient(45deg,cyan, yellow);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}
.Quadrolinks{
    padding: 40px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

h1{
    color:#fff;
}

h2{
color: #008000;
text-align: center;
}

a{
    text-decoration: none;
    color: #fff;
    font-size: 25px;
}

a:hover{
    color: green;
}




