
input {
    display: block;
    
}

h1 {
    font-size: 16px;
    margin-bottom: 0px;
    margin-bottom: 6px;
}

span {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: darkblue;
}

p {
    margin: 0px;
}

body {
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.questao {
    background-color: #e0f7faa1;
    padding: 1px 0px 10px 15px;
    margin-bottom: 10px;
    border-radius: 4px;

}


input[type=button] {
    margin-top: 10px;
    background-color: #bbbaad;
    font-weight: bold;
    width: 80px;
    height: 25px;
    
}

body{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #161b22;
    background-image: linear-gradient(45deg,rgb(12, 12, 12), #cecec9);
}

.tittledoc{
    text-align:center;
    font-size: 28px;
}
    

input{
    border-radius: 4px;
    background-color:#e2e2d9 ;
}
    
#result01,
#result02,
#result03,
#result04,
#result05,
#result06,
#result07{
    color: #f00;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}